@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --animate-comeTop: comeTop 0.2s ease-in-out forwards;
  --animate-backBottom: comeTop 0.2s ease-in-out backwards;
  --font-poppins: "Poppins", sans-serif;

  @keyframes comeTop {
    from {
      transform: translateY(+100px);
    }
    to {
    transform: translateY(0px);
    }
  }
}

@layer base {
  td {
    padding: 5px;
    border: solid 1px;
    user-select: none;
  }
  th {
    padding: 10px;
    border: solid 1px;
    background-color: hsl(0, 0%, 84%);
  }
  td > input[type='radio'] {
    display: none;
  }
}