@import "tailwindcss";

@theme {
  --animate-comeTop: comeTop 0.2s ease-in-out forwards;
  --animate-backBottom: comeTop 0.2s ease-in-out backwards;

  @keyframes comeTop {
    from {
      transform: translateY(+100px);
    }
    to {
    transform: translateY(0px);
    }
  }
}

@layer base {
  td {
    padding: 5px;
    border: solid 1px;
    user-select: none;
  }
  th {
    padding: 10px;
    border: solid 1px;
    background-color: hsl(0, 0%, 84%);
  }
  td > input[type='radio'] {
    display: none;
  }
}